doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='../stylesheets/bulma.css')
    title
  body(style='background-attachment:fixed', background='../images/fbg.jpg')
    nav.nav.has-shadow.is-black
      .container
        .nav-left
          a.nav-item
            img(src='../images/Team 3 Logo.jpg')
            a.nav-item.is-tab(href='/')
              strong Home
            a.nav-item.is-tab.is-active(href='/speech')
              strong View Speeches
            a.nav-item.is-tab(href='/add')
              strong Add Speech
    br
    br

    block content
    
    footer.footer
      .container
        .content.has-text-centered
          p
            strong Philippine President Speeches
            |  by Jayvee Asuncion and Sheila Siongco.
          p
            | The source code is licensed
            a(href='http://opensource.org/licenses/mit-license.php') MIT
            |             . The website content is licensed 
            a(href='http://creativecommons.org/licenses/by-nc-sa/4.0/') CC ANS 4.0
            | .
          p
            span.icon
              img(src='../images/github-256.png')
