<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="bulma.css">
<title></title>
</head>
<body style="background-attachment:fixed" background="fbg.jpg">
	<nav class="nav has-shadow is-black">
	  <div class="container">
	    <div class="nav-left">
	      <a class="nav-item">
	        <img src="Team 3 Logo.jpg">
		      <a class="nav-item is-tab" href="index.html"><strong>Home</strong></a>
		      <a class="nav-item is-tab is-active" href="view.html"><strong>View Speech</strong></a>
		      <a class="nav-item is-tab" href="add.html"><strong>Add Speech</strong></a>
		      <a class="nav-item is-tab" href="update.html"><strong>Update Speech</strong></a>
	      </a>
	     </div>
	  </div>
	</nav><br>
	<div>
		<form type="post" action="/students">
		 <div class="column is-3 is-offset-1">
		  <h1 class="title is-1"><strong>View by:<strong></h1>
		  <label class="label">Title</label>
		   <p class="control">
		     <span class="select">
		       <select name="title" placeholder="Dropdown Select">
		         <option>Select Dropdown</option>
		         <option></option>
		         <option></option>
		         <option></option>
		         <option></option>
		       </select>
		     </span>
		   </p>
		  <label class="label">Speaker</label>
		   <p class="control">
		     <span class="select">
		       <select name="speaker">
		         <option>Select Dropdown</option>
		         <option></option>
		         <option></option>
		         <option></option>
		         <option></option>
		       </select>
		     </span>
		   </p>
		   <div class="control is-grouped">
		    <p class="control">
		      <button class="button is-primary">View</button>
		    </p>
		    <p class="control">
		      <button class="button is-primary">Edit</button>
		    </p>
		    <p class="control">
		      <button class="button is-primary">Cancel</button>
		    </p>
		   </div>
		 </div>
		</form>
	</div><br><br><br>

	<footer class="footer">
	  <div class="container">
	    <div class="content has-text-centered">
	      <p>
	        <strong>Philippine President Speeches</strong> by Jayvee Asuncion and Sheila Siongco.</p>
	        <p>The source code is licensed
	        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
	        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
	      </p>
	      <p>
	        <span class="icon">
	          <img src="github-256.png">
	        </span>
	      </p>
	    </div>
	  </div>
	</footer>
</body>